// font import
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap')
    
// colors variables

$black: #141415
$white: #F2F5F8
$cyan: #B2CFE6
$transparent: rgba(0, 0, 0, 0)

// Convensions

body
    margin: 30px
    padding: 0
    box-sizing: border-box
    font-family: 'Inter', sans-serif

nav
    display: flex
    justify-content: space-between

    button
        background-color:  $transparent
        border-color: $transparent

    a
        text-decoration: none
        font-weight: bold
        color: $black

