// font import
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap')
    
// colors variables

$black: #141415
$white: #F2F5F8
$cyan: #B2CFE6
$transparent: rgba(0, 0, 0, 0)

// Convensions
body
    margin: 30px
    padding: 0
    box-sizing: border-box
    font-family: 'Inter', sans-serif
    background-color: $white

html
    scroll-behavior: smooth

// dark mode

.dark-mode
    background-color: $black
    color: $white 

    a
        color: $white

    svg
        fill: $white


// style page
    
nav
    display: flex
    justify-content: space-between

    button
        background-color:  $transparent
        border-color: $transparent

    a
        text-decoration: none
        font-weight: bold
        color: $black

.main-section
    margin: 200px 0 500px 0

    a
        display: block
        text-align: center
        align-items: center
        text-decoration: none
        background-color: $cyan
        color: $black
        width: 100%
        padding: 12px 0
        


#content
    margin-bottom: 225px

    h3
        margin: 24px 0 0 0
        text-decoration: underline
        text-decoration-color: $cyan
    
    input
        width: 97%
        height: 42px
        margin: 6px 0 24px 0   
        padding: 0 5px
        border: solid 2px $black

footer
    a
        text-decoration: none
        color: $black
        font-weight: bolder

// media queries

@media (min-width: 1024px)
    body
        margin: 30px 120px

    .main-section
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column

        a
            width: 50%
            
    #content
        padding-top: 100px